/* CSS Styles*/
body {
  background-color: darkgray;
}
div {
  border-radius: 10px;
}
/* * {
  border: 1px solid black;
} */
/* 
CLASS SELECTORS
*/
.heading-flex-element {
  width: 50%;
}
.heading-container {
  display: flex;
  justify-content:space-between;
}
.big-box-container {
  height: 500px;
  display: flex;
}
.flex-element {
  height: 30%;
  width: 20%;
}
.flex-container {
  display: flex;
  border: 3px solid black;
  width: 50%; 
}
.container-column {
  flex-direction: column;
}
.container-row-reverse {
  flex-direction: row-reverse;
}
.container-column-reverse {
  flex-direction: column-reverse;
}
.element1 {
  background-color: dodgerblue;
}
.element2 {
  background-color: orangered;
}

/* 
ID SELECTORS
*/
#big-container {
  width: 70%;
  background-color: rgb(228, 188, 31);
}
#big-box-container-1 {
  background-color: #33f;
}
#big-box-container-2 {
  background-color: #f2a;
}
#box-1, #box-2{
  background-color: cyan;
}


